export(pdmi_frailty)
export(pdmi_control)
export(pdmi_prior)
export(normal_kinship)
export(mvn_kinship)
export(carrier_hwe)
export(bernoulli_glm)
export(imputation_model)
export(pen_summary)
export(pen_plot)
S3method(coef,pdmi_frailty)
S3method(imputation_model,pdmi_frailty)
S3method(pen_plot,pdmi_frailty)
S3method(pen_summary,pdmi_frailty)
S3method(print,pdmi_frailty)
S3method(print,pdmi_imputation_model)
S3method(print,pdmi_penetrance_summary)
S3method(print,summary.pdmi_frailty)
S3method(summary,pdmi_frailty)
S3method(vcov,pdmi_frailty)
importFrom(graphics,legend)
importFrom(graphics,lines)
importFrom(graphics,mtext)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(graphics,points)
importFrom(parallel,detectCores)
importFrom(stats,as.formula)
importFrom(stats,coef)
importFrom(stats,complete.cases)
importFrom(stats,delete.response)
importFrom(stats,df.residual)
importFrom(stats,dgamma)
importFrom(stats,dnorm)
importFrom(stats,lm)
importFrom(stats,model.frame)
importFrom(stats,model.response)
importFrom(stats,optim)
importFrom(stats,pnorm)
importFrom(stats,qlogis)
importFrom(stats,qnorm)
importFrom(stats,quantile)
importFrom(stats,rexp)
importFrom(stats,rnorm)
importFrom(stats,runif)
importFrom(stats,sd)
importFrom(stats,setNames)
importFrom(stats,terms)
importFrom(stats,var)
importFrom(survival,Surv)
importFrom(survival,cluster)
importFrom(utils,capture.output)
importFrom(utils,globalVariables)
importFrom(utils,head)
importFrom(utils,tail)
